    <nav @show="headerExpanded" class="nav">
        <div class="nav-container" @click="headerExpanded=false" >
            <a href="#" @link="home" @class="{'nav-link': true, 'active': _currentPage === 'home'}">⌂ Home</a>
            <a href="#" @link="categories" @class="{'nav-link': true, 'active': _currentPage === 'categories'}">⊞ Categories</a>
            <a href="#" @link="search" @class="{'nav-link': true, 'active': _currentPage === 'search'}">⊙ Search</a>
            <a href="#" @link="random" @class="{'nav-link': true, 'active': _currentPage === 'random'}">⊛ Random</a>
        </div>
    </nav>


    <init>
        riconta=2
    </init>

    <button @set="conta=2" @click="conta=5" >Conta</button>
    <button @click="headerExpanded=!headerExpanded" >click</button>

    <span  @state="_screenSize"></span>
    <span @state="headerExpanded"></span>
    <span @state="conta"></span>
    <span @state="riconta"></span>


